################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApolloCipherMSTests/obj/*
/ApolloCipherMSTests/bin/*
/ApolloCipherMSTests/bin/TestResults/*
